*{
  margin:0;
  padding;0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 80%;
  margin: 0 auto; 
}

body{
  font-family: sans-serif;
  line-height: 1.6;
}

header{
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav#nav-bar ul{
  display: flex;  
}

nav#nav-bar li{
  margin-left: 2rem;
}

nav#nav-bar li a{
  color: #111;
}

#header-img{
  width: 15rem;
  margin-left: -1rem;
}

@media screen and (max-width: 650px){
  header{
    flex-direction: column;
  }
  
  nav#nav-bar ul{
    display: block;
    text-align: center;
  }
  
  #header-img {
    margin: 1rem 0;
    text-align: center;
  }
}


.subscribe{
  text-align: center;
  margin: 2rem auto;
}

.subscribe input{
  padding: 0.3rem;
  display: block;
  margin: 0.9rem auto;
}

.subscribe input#email {
  width: 250px;
}

.subscribe input#input {
  width: 150px;
 border: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background:yellow;
}

.featured-wrapper {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.featured-icon i{
  font-size:35px;
  color: #f38b3f;
  width: 45px;
}

.featured-text{
  margin-left: 3.5rem;
}

.featured-text h3{
  margin-left: 1.5rem;
}

.featured-text p{
  opacity: 0.8;  
}

@media screen and (max-width: 650px){
  .featured-wrapper{
    flex-direction:column;
  }
  
  .featured-text{
    margin: 0;
    ttext-align: center;
  }
}

section#video{
  text-align: center;
  margin: 5rem 0;
}

.pricing-wrapper{
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  grid-auto-rows: repeat(3,300px);
  margin-bottom: 5rem;
}

.pricing-box{
  text-align: center;
  line-height: 2.5;
  border: 1px solid #111;
}

.pricing-box h4{
background: #ddd;
}

.pricing-box .price{
 font-weight: bold;
  font-size: 1.5rem;
}

.pricing-box .btn{
  background: #f1c53e;
  display: block;
  width: 150px;
  margin: 1rem auto;
  text-transform: uppercase;
  color: #111;
  font-weight: bold;
}

footer{
  background: #ddd;
  text-align: end;
  padding: 1rem .5rem;
}

.footer-nav ul{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-nav ul li{
  margin-left: 1.5rem;
}

.footer-nav ul a{
  color: #111;
}

.footer-copyright{
  opacity: 0.6;
}
