body {
  background-color: #241d33;
}

.rainbow-box{
  background-color: #30244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right,   #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
   border-image-slice: 1;
  height: 200px;
  margin: 20px auto;
  width: 200px;
}
