* {
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: #9d6e40;
  }
  
  body{
    margin: 0;
    padding: 0;
    background: url("https://res.cloudinary.com/drymsmld5/image/upload/v1590935130/Codepen/login%20form/bg_kosmnh.jpg");
  background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
    background-attachment: fixed;
    height: 100%;
  }
  
  .container{
     background-color: var(--primary-color);
    width: 320px;
    height: 450px;
    padding: 2rem;
     margin: 4.5rem auto;
    color: #fff;
    position: relative;
  }
  
  .container .login-pic-container{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: calc(-50px - 2rem);
     left: calc(50% - 50px);
  }
  
  .container .login-pic-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  .container .login-form {
    position: relative;
    top: -60px;
  }
  
  .login-form .login-credentials label {
    display: block;
    margin: 0px auto;
    font-size: 1.2rem;
  }
  
  .login-form .login-credentials input {
  display: block;
    width: 100%;
    margin: 1.2rem auto;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 1);
   padding: 6px;
  }
  
  .login-form .login-credentials input::placeholder {
    padding: 1px;
  }
  
  .login-form .login-credentials button {
    margin: 1.8rem auto;
    outline: none;
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 0.95rem;
    transition: all 0.2s ease;
  }
  
  .login-form .login-credentials button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: var(--primary-color);
  }
  
  .login-form .login-credentials p {
    text-align: center;
  }
  
  .login-form .login-credentials p a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    font-weight: bold;
  }
  
  .login-form hr {
    border-color: rgba(0, 0, 0, 0.2);
  }
  
  .register-container p {
    text-align: center;
  }
  
  .register-container p a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
    font-weight: bold;
  }
  
  